$containers-widthSize:425px;
$marginTop-mobile:10px;

.containerOverview
{
    width: $containers-widthSize;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
}

.mainContainer
{
    margin-top: $marginTop-mobile;
    padding-top: 10px;
    border-radius: 10px;
    width: $containers-widthSize;
    height: 100%;
    background-color: rgb(232, 223, 204);
}

.currentBalanceContainer, .incomeContainer, .expensesContainer
{
    margin-top: $marginTop-mobile;
    margin-left: 15px;
    width: calc($containers-widthSize - 40px);
    border-radius: 10px;
    padding-left: 10px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#currentBalance, #income, #expenses
{
    color: gray;
}

#currentBalanceValue, #incomeValue, #expensesValue
{
    color: black;
    font-size: 25px;
}

.currentBalanceContainer:hover, .incomeContainer:hover, .expensesContainer:hover
{
    background-color: black;
    #currentBalance, #income, #expenses,
    #currentBalanceValue, #incomeValue, #expensesValue
    {
        color: rgb(255, 255, 255);
    }
}

/*#2-Pots sections*/
/*From .potsContainer to #seeDetailsButton:hover define the structure of all headers*/
/*#2.1-Pots sections*/
.potsContainer
{
    margin-top: $marginTop-mobile;
    margin-left: 15px;
    padding-left: 10px;
    width: calc($containers-widthSize - 40px);
    border-radius: 10px;
    background-color: white;
}
.containerHeader
{
    margin-top: $marginTop-mobile;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.seeDetailsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#seeDetailsButton
{
    background-color: white;
    border: none;
    display: flex;
    align-items: start;
    font-weight: 700;
}

#seeDetailsButton:hover
{
    color: rgb(110, 235, 227);
}

/*#2.2-Pots containerTotalSaved*/
.containerTotalSaved
{
    background-color: rgb(232, 223, 204);
    border-radius: 10px;
    width: calc($containers-widthSize - 50px);
}

#totalSaved
{
    width: 50%;
    padding-left: 10px;
}

.containerCashIcon
{
    display: flex;
    align-items: center;
}

#totalSavedMoneyAndTitle
{
    display: flex;
    flex-direction: row;
}

.containerSavedAndTitle
{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#totalSavedTitle, #totalSavedMoney
{
    margin-left: 10px;
}

/*#2.3-Pots spentsContainer*/

.spentsContainer
{
    margin-top: $marginTop-mobile;
    margin-right: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.firstContainer, .secondContainer
{
    display: contents;
}

div[id^="one"], div[id^="two"], div[id^="three"], div[id^="four"]
{
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}

/*#2.4-Transitions containerTotalSaved*/
.transitionsContainer
{
    margin-top: $marginTop-mobile;
    margin-left: 15px;
    padding-left: 10px;
    width: calc($containers-widthSize - 40px);
    border-radius: 10px;
    background-color: white;
}

.containerHeaderTransitions
{
    margin-top: $marginTop-mobile;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.seeTransitionsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#seeTransitionsButton
{
    background-color: white;
    border: none;
    display: flex;
    align-items: start;
    font-weight: 700;
}

#seeTransitionsButton:hover
{
    color: rgb(110, 235, 227);
}
/* Styles for all people */
[class^="containerPerson"]
{
    margin-top: $marginTop-mobile;
    width: calc($containers-widthSize - 50px);
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

[class^="profile"]
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

[class^="financePerson"]
{
    margin-right: 10px;
}
/*All img for picture profile on mobile version*/
img
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/*#Budgets */
.budgetsContainer
{
    margin-top: $marginTop-mobile;
    margin-left: 15px;
    padding-left: 10px;
    width: calc($containers-widthSize - 40px);
    border-radius: 10px;
    background-color: white;
}

.containerHeaderBudgets
{
    margin-top: $marginTop-mobile;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.seeBudgetsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#seeBudgetsButton
{
    background-color: white;
    border: none;
    display: flex;
    align-items: start;
    font-weight: 700;
}

#seeBudgetsButton:hover
{
    color: rgb(110, 235, 227);
}

.containerGraphics
{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle1
{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:conic-gradient(red, orange, yellow, green, blue);
    background:conic-gradient(red 0deg, orange 90deg, yellow 180deg, green 270deg, blue 360deg);
}

#circle2
{
    border: 1px solid black;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle3
{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:conic-gradient(white);
    background:conic-gradient(rgb(255, 255, 255) 0deg, white 360deg)
}


