$containers-widthSize:425px;
$marginTop-mobile:10px;

.containerOverview
{
    width: $containers-widthSize;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
}

.mainContainer
{
    margin-top: $marginTop-mobile;
    padding-top: 10px;
    border-radius: 10px;
    width: $containers-widthSize;
    height: 100%;
    background-color: rgb(232, 223, 204);
}

.currentBalanceContainer, .incomeContainer, .expensesContainer
{
    margin-top: $marginTop-mobile;
    margin-left: 15px;
    width: calc($containers-widthSize - 40px);
    border-radius: 10px;
    padding-left: 10px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#currentBalance, #income, #expenses
{
    color: gray;
}

#currentBalanceValue, #incomeValue, #expensesValue
{
    color: black;
}

.currentBalanceContainer:hover, .incomeContainer:hover, .expensesContainer:hover
{
    background-color: black;
    #currentBalance, #income, #expenses,
    #currentBalanceValue, #incomeValue, #expensesValue
    {
        color: rgb(255, 255, 255);
    }
}

/*#2-Pots sections*/
/*From .potsContainer to #seeDetailsButton:hover define the structure of all headers*/
.potsContainer
{
    margin-top: $marginTop-mobile;
    margin-left: 15px;
    width: calc($containers-widthSize - 40px);
    border-radius: 10px;
    background-color: white;
}
.containerHeader
{
    margin-top: $marginTop-mobile;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.seeDetailsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#seeDetailsButton
{
    background-color: white;
    border: none;
    display: flex;
    align-items: start;
    font-weight: 700;
}

#seeDetailsButton:hover
{
    color: rgb(110, 235, 227);
}