
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.containerRegister
{
    width: 80vw;
    height: 80vh;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(53, 52, 52);
}

#financeAppTitle
{
    color: rgb(78, 161, 235);
    width: 80vw;
    height: 15vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.containerForm
{
    width: 80vw;
    height: 45vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form
{
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.buttonFormContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form >*
{
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    height: 30px;
}

#registerLogIn
{
    width: 12vw;
    background: linear-gradient(blue, rgb(78, 161, 235));
    border-radius: 15px;
    margin-top: 5px;
    height: 30px;
}

#registerLogIn:hover
{
    color:white
}

#registerLogIn:active
{
    transform: scale(0.9);
}

#name, #nameLabel
{
    display: none;
}